/* fixed style sheet copied from source version of 23-April-2014 */
/* typography */
* {
  font-size: 10pt;
  font-family: Verdana, Arial, Sans-Serif;
  line-height: 1.4em;
}
h1, h2, h3 {
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;  
  font-weight: bold;
  color: #684545;
  margin: 0;
  border: 0;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-top: 0px;
}
/* h1 is page title */
h1 {
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  font-size: 16pt;
  font-weight: bold;
  line-height: 1em;
  text-align: left;
  color: #684545;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}
p {
  margin-top: 13px;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  /* text-indent: 2em; */
}
/* note h2 and 3 are defined as headings in markup section below */
div.markup {
  text-align: justify;
}
/* links */
a:link {
  color: #4e3434;
}
a:visited {
  color: #4e3434;
}
a:hover {
  color: #825656;
}
/* buttons and forms*/
input.button, button {
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  margin: 0px;
  border-width: 1px;
  font-size: 11px;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #ccb2b2;
}
input.button:hover {
  background-color: #f4efef;
}
.input-box {
  font-size: 8pt;
  font-family: Verdana, Helvetica, sans-serif;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #b28c8c;
}
.boxlabel {
  width: 130px;
  text-align: right;
  padding-right: 4px;
  float: left;
}
.itemlabel {
  width: 380px;
  text-align: right;
  padding-right: 4px;
  float: left;
}
.alignleft {
  text-align: left;
}
.select-list, .sl {
  font-size: 8pt;
  margin: 3px 0 0 0;
  padding: 2px 2px 2px 0;
  border-style: solid;
  border-width: 1px;
  border-color: #b28c8c;
}
.check-box {
  margin: 0;
  padding: 0;
  border: 0;
}
.check {
  background-image: url(./system/checkoff.png);
  background-color: transparent;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 20px;
  width: 100%;
  float: left;
}
.check:hover {
  cursor: pointer;
}
.radio-button {
  margin: 0;
  padding: 0;
  border: 0;
}
.formlabel, .fl {
  width: auto;
  text-align: right;
  margin: 0;
  padding: 0 3px 0 0;
  border: 0 none;
  color: #2d3510;
}
.formdata, .fd {
  width: auto;
  text-align: left;
  margin: 0;
  padding: 6px;
  border: 0 none;
}
/* others */
textarea {
  margin-top: 4px;
  margin-bottom: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #b28c8c;
  margin-left: 0px;
}
hr {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #e5d8d8;
  height: 1px;
}
blockquote {
  background: transparent url(./system/quote99.gif) right bottom no-repeat;
} blockquote > *:first-child {
  padding: 0 50px;
  background: transparent url(./system/quote66.gif) left top no-repeat;
}
.notes {
  text-align: justify;
  margin: 8px 100px 8px 60px;
  padding: 0 0 0 6px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #5b6b20;
}
.smallfootnote {
  font-size: 0.75em;
  line-height: 1.2em;
  color: #2d3510;
}
/* named markup classes */
/* note that div.markup may also be in layout section of page template */
div.markup {
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.picture, .snap, .thumb {
  float: none;
  clear: both;
  margin: 0;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5d8d8;
  overflow: scroll;
}
.picture-left, .snap-left, .thumb-left {
  float: left;
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 10px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5d8d8;
}
.picture-right, .snap-right, .thumb-right {
  float: right;
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5d8d8;
}
.float-left {
  float: left;
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 3px;
  border-width: 0px;
  border-style: none;
}
.float-right {
  float: right;
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 3px;
  padding-top: 3px;
  border-width: 0px;
  border-style: none;
}
.thumbox {
  float: left;
  margin: auto;
  text-align: center;
  width: 152px;
  height: 152px;
}
.thumbox img {
  border: none;
}
.thumbox a {
  border: none;
}
.thumbox a:link, .thumbox a:visited {
  text-decoration:none;
  border: none;
}
.thumboxtitle {
  padding-left: 5px;
  padding-right: 5px; 
}
.internal-link {}
.external-link:link {}
.external-link:visited {}
.text-highlight {
  color: black;
  background-color: #FFC;
}
.search-highlight {
  font-weight: bold;
}
.bold-red {
  font-weight: bold;
  color: red;
}
.plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.plain-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.unordered-list {
  list-style-type: square;
  text-align: justify;
}
.ordered-list {
  text-align: justify;
}
.main-heading {
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  font-size: 14pt;
  font-weight: normal;
  color: #684545;
  border: none;
  padding: 0;
}
.sub-heading {
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
  color: #684545;
  border: none;
  padding: 0;
}
.sql-table {
  width: 100%;
  border-width: 0px;
  border-style: none;
  border-collapse: collapse;
}
.sql-table th {
  font-size: 9pt;
  font-weight: bold;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: #879e30;
  padding: 4px;
  background-color: #c3ce97;
  color: black;
}
.sql-table td {
  font-size: 9pt;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: #879e30;
  padding: 4px;
}
.plain-table {
  border-width: 0px;
  border-style: none;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}
.plain-table th {
  font-size: 9pt;  
  font-weight: bold;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-left: 20px;
  padding-bottom: 2px;
  color: black;
}
.plain-table th:first-child {
  padding-left: 0px;
}
.plain-table td {
  font-size: 9pt;
  text-align: left;
  padding-left: 20px;
}
.plain-table td:first-child {
  padding-left: 0px;
}
.plain-table tr:last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.filelist-table th {
  font-size: 9pt;
  text-align: left;
}
/* markup elements that don't have explicit classes */
b {}
i {}
big {
  font-size: 1.2em;
}
small {
  font-size: 0.75em;
  line-height: 0.75em;
}
sup {}
/* system */
#systemwarning td {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: black;
  background-color: #FFC;;
}
#editform tr, blogeditform tr {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* menus and toolbars */
/* menus */
.menu-list {
  background-color: #996666;
  padding-left: 0px;
  margin: 0px;
  border: 0px;
  list-style-type: none;
  cursor: pointer;
}
.menu-list li {
  color: black; 
  font-size: 9pt;
  background-color: #996666;
  display: block;
  margin: 0px;
  border: 0px;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0px;
}
.menu-list li:hover { 
  background-color: #b28c8c;
  color: white;
}
.menu-list li a {
  text-decoration: none;
  text-align: left;
  color: white; 
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.menu-list li a:hover {
  color: white;
}
.menu-list li a:visited {
  color: white;
}
.submenu {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style-type: none;
  display: none;
}
.submenu li {
  list-style: none;
  font-size: 9pt;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 4px;
  padding: 0px;
}
.submenu li a {
  text-decoration: none;
  color: black; 
  background-color: #f3f5ea;
  display: block;
  margin: 0px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.submenu li a:hover { 
  background-color: #e1e6cb;
  color: black;
}
.submenu li a:visited { 
  color: black;
}
.nav {
  font-size: 13pt;
  color: #5b6b20;
  text-decoration: none;
}
#toolbar {
  float: left;
  display: block;
  border-collapse: collapse;
  line-height: 0;
  width: 100%;
}
.toolbar-button {
 font-size: 11px;
 font-family: Verdana,sans-serif;
 color: black;
 width: 100%;
 background-color: #ccb2b2;
 text-transform: lowercase;
 height: 20px;
 padding-bottom: 3px;
 margin: 0;
 border-width: 1px;
}
.toolbar-button:hover { 
  background-color: #f4efef;
  cursor: pointer;
  color: black;
}
/* posts */
.post-wrapper {
 vertical-align: top;
 clear: both;
 margin-bottom: 30px;
}
.post-header {
 color: #5b6b20;
 font-weight: bold;
 border-bottom-width: 1px;
 border-bottom-style: dotted;
 border-bottom-color: #5b6b20;
 margin-bottom: 10px;
}
.post-title {
 font-size: 10pt;
 font-weight: bold;
 color: #4e3434;
 margin-bottom: 10px;
 border: none;
 text-align: left;
}
.post-body {
 margin-bottom: 0px;
 padding-bottom: 0px;
}
.post-links {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
  text-align: right;
}
.post-links-edit {
}
.post-links-permalink {
}
.edit-button {
 width: 24px;
 height: 24px;
 margin: 0;
 padding: 0;
 border: 1px;
 border-style: solid;
 border-color: #879e30;
}
.edit-button:hover {
 border: 1px;
 border-style: solid;
 border-color: #5b6b20;
 background-color: #f4efef;
}
.edit-link {
 margin-top: 0px;
 padding: 0;
 border: 0;
}
.breadcrumb {
}
.breadcrumb a {
  background: transparent url(./system/breadcrumb.gif) no-repeat center right;
  text-decoration: none;
  padding-right: 18px;
}
.breadcrumb a:visited, .breadcrumb a:active{
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.species-note {
}
.species-note-contributor {
  color: #996666;
}
.record-detail {
}
.record-label {
  width: 100px;
  font-weight: bold;
  padding-right: 10px;
  float: left;
  text-align: right;
}
.record-data {
}
.no-style {
}